@import "../../../Styles/app.scss";
.MuiTabs-scroller {
  //   justify-content: center;
}
.MuiTabs-flexContainer {
  justify-content: center;
}

.selfstudy_container {
  display: flex;
  .selfstudy_container_tab {
    left: 150px;
    height: 500px;
    .tabpanel_container {
      .tabpanel_container_title {
        font-size: 33px;
        font-weight: 700;
        font-family: $family;
        color: $blue;
        text-transform: capitalize;
        margin-bottom: 40px;
      }
      .tabpanel_container_chapters {
      }
    }
  }
}
