@import "../../../Styles/app.scss";

.selfstudy_container_sidebar {
  // width: 100px;
  background-color: $blue;
  left: 0px;
  padding: 10px 10px;

  .class1_title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid $lightGray;
  }
  > div {
    width: 100px;
    height: 30px;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $lightBlue;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    padding: 15px 5px;
  }
  .active {
    background-color: darken($color: $blue, $amount: 10);
    // color: $blue;
    border-radius: 6px;
  }
}

a:hover {
  text-decoration: none;
}
