@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
$lightGray: #FAFAFC;
$black: #212830;
$blue: #4740DA;
$family: "Inter", sans-serif;
$lightBlue: #E6EBFE;
$purple : #B799FF;
$darkpink :#E893CF;
$blue-A : #D9D7F1;


